<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <h2>Conteúdo Principal</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida enim non justo ultrices, eget porta ligula faucibus. Ut vel condimentum turpis.</p>
    </div>
    <div class="col-lg-4">
      <h2>Sidebar</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida enim non justo ultrices, eget porta ligula faucibus. Ut vel condimentum turpis.</p>
    </div>
  </div>
</div>
